target/classes/kone-rest-api-template.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8a6ea572-2ab6-48c4-81cb-462f2f27cd74" >
		<http:listener-connection host="0.0.0.0" port="8091" />
	</http:listener-config>
	<flow name="cicd-demoFlow" doc:id="6445a068-2f01-4618-a5c6-d5dd3b4d70da" >
		<http:listener doc:name="Listener" doc:id="b953cee0-5ae9-46c0-b37a-8b1e619028b4" config-ref="HTTP_Listener_config" path="/ping"/>
		<set-payload value="#['pong']" doc:name="Set Payload" doc:id="f506faef-b063-4fc6-8197-94e42cc5b41d" />
		<ee:transform doc:name="Transform Message" doc:id="9e56d235-9e00-42b2-b03b-204f05fe78ae" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	</mule>
